#modalTestFeed .modal__inner {
    width: 95%;
    max-width: 1350px;
    border-radius: 16px;
}

.modal__header {
    background-color: transparent;
    padding: 21px 35px 20px;
}

.modal h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    color: #373131;
    text-align: center;
}

.modal__close i {
    color: #5B5151;
}

.modal .error_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.modal .error_header {
    margin: 4px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 145%;
    color: #5B5151;
    position: relative;
    padding: 0 0 0 32px;
}

.modal .error_header::before {
    content: '';
    background-image: url(../images/bx_bx-error-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
}

.modal .error_list {
    list-style: disc;
    list-style-position: inside;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #5B5151;
    padding: 0 0 0 28px;
}

.modal .error_list li {
    margin: 4px 0;
}

.modal__content {
    padding: 0 40px 40px;
}

.table {
    width: 100%;
    max-height: 58vh;
    overflow: auto;
    margin: 32px 0 0;
}

.table::-webkit-scrollbar-track {
    border-radius: 16px;
    background-color: white;
    width: 2px;
}

.table::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: white;
}

.table::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #5B5151;
}

.table table {
    width: 100%;
    min-width: 1270px;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
}

.table .table_head {
    background: rgba(234, 236, 240, 0.5);
}

.table td {
    padding: 8px 15px;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 125%;
    text-align: left;
    color: #5B5151;
    vertical-align: middle;
    border-bottom: 1px solid #EAECF0;
}

.table .table_head td {
    font-weight: 600;
    font-size: 14px;
}

.table td:first-child {
    border-left: 1px solid #EAECF0;
}

.table td:last-child {
    border-right: 1px solid #EAECF0;
}

.item_img {
    border: 1px solid #F4F4EA;
    box-sizing: border-box;
    border-radius: 4px;
    width: 56px;
    height: 56px;
    padding: 6px;
}

.item_img img {
    max-width: 100%;
}

.table .title {
    width: 210px;
}

.table tbody tr {
    border-bottom: 1px solid #EAECF0;
    border-left: 1px solid #EAECF0;
    border-right: 1px solid #EAECF0;

}

.table tbody tr:first-of-type td {
    border-top: 1px solid #EAECF0;
}


.table tr:first-child td:first-child {
    border-top-left-radius: 16px;
}

.table tr:last-child td:first-child {
    border-bottom-left-radius: 16px;

}

.table tr:first-child td:last-child {
    border-top-right-radius: 16px;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 16px;
}
