.dropdown-select {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    outline: none;
    position: relative;
    text-align: left;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;

}

.dropdown-select:focus {
    background-color: #fff;
}

.dropdown-select:hover {
    background-color: #fff;
}

.dropdown-select:active,
.dropdown-select.active {
    background-color: #fff !important;
    border-color: #bbb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}

.dropdown-select.active .list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.dropdown-select.active .option {
    cursor: pointer;
}

.dropdown-select .option {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 125%;
    color: rgba(91, 81, 81, 0.7);
    outline: none;
    padding: 8px;
    text-align: left;
    transition: all 0.2s;
    list-style: none;
    border-bottom: 1px solid rgba(91, 81, 81, 0.1);
    cursor: pointer;
}

.dropdown-select.wide {
    width: 320px;
    max-width: 410px;
    border: 1px solid rgba(91, 81, 81, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: #5B5151;
    box-shadow: none;
    padding: 0 16px;
    height: 40px;
    background-color: transparent;
}

@media all and (max-width:1440px) {
    .dropdown-select.wide {
        width: 260px;
    }
}

.dropdown-select.active {
    border-radius: 6px 6px 0 0;
}

.current {
    width: 92%;
    height: 38px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    text-overflow: clip;
}

.dropdown-select.wide .list {
    left: -1px !important;
    right: 0 !important;
    width: 100.5%;
}

.dropdown-select .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    background-color: #fff;
    padding: 3px 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 250px;
    overflow: auto;
    border: 1px solid rgba(91, 81, 81, 0.4);
    box-sizing: border-box;
    padding: 19px 16px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
}

/*#condition.dropdown-select .option*/
#conditionWide .current {
    height: 38px;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    width: 90%;
    overflow: hidden;
}

.dropdown-select .option:hover {
    color: rgba(91, 81, 81, 1);
    border-color: #E37D38;
}

.dropdown-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.modal .chosen-container .chosen-single {
    background-image: none;
}

.form__field-holder_with-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: 1px solid #EAECF0;
    box-sizing: border-box;
    border-radius: 6px;
    height: auto;
    min-height: 40px;
    padding: 0;
    font-style: normal;
    font-weight: normal;
}

#the-input-datalist {
    width: 100px;
}

fieldset {
    border: 1px solid blue;
    width: 360px;
    border-radius: 5px;
}

legend,
label {
    color: blue;
    font-size: 24px;
    font-family: sans-serif;
}

.form__field-holder datalist {
    position: absolute;
    margin: 0;
    background: #FFFFFF;
    padding: 0 8px;
    border: 1px solid #EAECF0;
    box-sizing: border-box;
    box-shadow: none;
    overflow-x: auto;
    height: 246px;
    border-radius: 0;
    z-index: 10;
    width: 300px;
    right: 0;
    top: 100%;
}

option {
    padding: 16px 8px 8px;
    position: relative;
    display: flex;
    cursor: pointer;
    border-top: none;
    border-bottom: 1px solid rgba(91, 81, 81, 0.1);
    color: rgba(91, 81, 81, 0.7);
    background-color: white;
}

option:hover,
.active {
    border-color: #E37D38;
    opacity: 1;
    color: #5B5151;
    font-weight: 600;
}

option:hover::after {
    content: "\e909";
    position: absolute;
    background: #E37D38;
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    right: 8px;
    font-family: 'icomoon', 'icomoonv2';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 9px;
}

#createRule_box {
    padding: 25px;
}

#createRule_box .header_box {
    padding: 0 0 16px;
    margin: 0 0 16px;
    border-bottom: 1px solid #EAECF0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#noRule_box .header_box {
    padding: 0;
    margin: 0 0 59px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#noRule_box .block-table {
    align-items: center;
}

#noRule_box .btn-orange {
    margin: 16px 0 0;
}

.form__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0 16px 0 0;
}

.form__field-holder.full-width {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form__field .form__field-holder {
    width: 100%;
}

.form__field .full_widthInput {
    width: 462px;
}

.form__field label {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #5B5151;
    opacity: 0.7;
    font-family: 'Mulish', sans-serif;
}

.form__field #Name {
    width: 100%;
    max-width: 568px;
    height: 40px;
    border: 1px solid rgba(91, 81, 81, 0.4);
    border-radius: 6px;
    background-color: transparent;
    padding: 10px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #5B5151;
}

.form__field #Name::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #31353E;
    opacity: 0.7;
}

.content {
    padding: 0 0px 0 63px;
    height: 100%;
}

.main-content {
    height: 100%;
}

.content__header p {
    font-size: 16px;
    line-height: 22px;
    color: #373131;
}

.content__header div:last-of-type p {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #373131;
}

.btn-transparent {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #E37D38;
    width: auto;
    min-width: 112px;
    height: 40px;
    padding: 0 16px;
    border: 1px solid #E37D38;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: transparent;
    transition: all 0.3s;
}

.btn-transparent:hover {
    background-color: #E37D38;
    border: 1px solid #E37D38;
    color: white;
}


.form__field-search i + input[type="text"] {
    width: 508px;
    height: 40px;
    flex: 0 1 508px;
}

.btn-orange {
    width: auto;
    min-width: 112px;
    height: 40px;
    padding: 0 16px;
    border: 1px solid #E37D38;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.btn-block .btn-orange {
    transition: all .3s;
}

.btn-block .btn-orange:hover {
    background-color: #BF5913;
    border: 1px solid #BF5913;
    box-shadow: none;
}


.content__header button.btn.update_CSS_btn {
    margin: 10px 24px 0 0;
}


.form__field-holder,
.chosen-container {
    min-width: 1px !important;
}

.switch span {
    width: 38px;
    height: 19px;
    background: #EAECF0;
}

.switch span:after {
    width: 16px;
    height: 16px;
    top: 1.4px;
    box-shadow: none;
}

.switch input:checked + span:after {
    left: 20px;
}

table p {
    margin: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 125%;
    color: #5B5151;
}

table tr {
    position: relative;
}

table tr::after {
    content: '';
    width: calc(100% - 32px);
    height: 1px;
    background: #EAECF0;
    position: absolute;
    bottom: 0;
    left: 16px;
}

.block-table td,
.block-table table.table-checked tbody td {
    border-top: none;
    border-bottom: none;
}

table img {
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
}

.active_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch {
    margin: 0;
}



@media all and (max-width: 1024px) {
    .block-table__header:not(.nowrap) .block-table__bulk-action {
        margin: 0px;
        width: 100%;
    }
}


.block-table table.table-checked thead th {
    vertical-align: middle;
}

.block-table table.table-checked tbody {
    padding: 0 16px;
}

.block-table td {
    padding: 25px 0;
    font-style: normal;
    font-size: 14px;
    line-height: 125%;
    color: #5B5151;
}

.block-table table.table-checked tbody thead td {
    padding: 20px 0;
    font-size: 14px;
    line-height: 17px;
    color: #5B5151;
}

.block-table table.table-checked tbody tr td:first-child {
    z-index: 0;
}


.block-table th {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #5B5151;
}

.block-table tbody tr:hover td {
    color: #5B5151;
    background: rgba(234, 236, 240, 0.1);
    background: rgba(234, 236, 240, 0.3);
    cursor: pointer;
    box-shadow: none;
}

.block-table tbody tr:hover .field-checkbox label::after {
    background: rgba(234, 236, 240, 0.1);
    background: rgba(234, 236, 240, 0.3);
    box-shadow: none;
}

.block-table table.table-checked tbody tr:hover td:first-child .field-checkbox label::after {
    box-shadow: none;
}

.content__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content__header button.btn {
    margin: 10px 0 0;
}

.content__header button.btn-transparent {
    margin: 10px 24px 0 0;
}

.btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-table {
    background: #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    min-height: calc(100% - 85px);
}

#noRule_box.block-table {
    align-items: center;
}

.block-table .title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #5B5151;
    margin: 0;
}

.block-table .text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #5B5151;
}

.block-table .text a {
    font-weight: bold;
    text-decoration: none;
    padding: 0;
    border-bottom: 1px solid #5B5151;

}

.block-table table {
    margin: 12px 0 18px;
    width: 100%;
    border-radius: 6px;
}

table thead {
    background: rgba(234, 236, 240, 0.5);
    border-radius: 6px;
}

.block-table thead th {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 110%;
    color: #5B5151;
}

.block-table thead th:first-child {
    border-radius: 6px 0 0 6px;
}

.block-table thead th:last-child {
    border-radius: 0 6px 6px 0;
    padding-right: 49px;
}

.block-table tbody td:last-child {
    padding-right: 49px;
    text-align: right
}

.block-table th:first-child,
.block-table td:first-child {
    padding-left: 24px;
}

.block-table th {
    padding-top: 16px;
    padding-bottom: 16px;
}

.block-table th,
.block-table td {
    vertical-align: middle;
    text-align: center;
}

.switch.switch-showStatus + span {
    display: none;

}

.block-table tbody tr:first-child td:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.block-table tbody tr:first-child td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.block-table table.table-checked thead th div.text {
    float: left;
    width: auto;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 125%;
    color: #5B5151;
}

.block-table th.cell-sm {
    max-width: initial;
}

.block-table table.table-checked tbody tr td:first-child {
    text-align: left;
    padding-left: 24px;
}

.sort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 2px 0 0 0;
}


.block-table th.cell-check .sort,
.block-table th.column-action .sort,
.block-table th.indexed-title .sort {
    display: none;
}

.block-table th.keyword-title .sort .sort-asc {
    background-image: url(../images/alphabet.png);
    width: 11.9px;
    height: 12.33px;
    border-right-width: 15px;
    background-position: center;
    background-size: 11.9px 12.33px;
    margin: 0 0 0 6px;
}

.block-table th.keyword-title .sort .sort-desc {
    display: none;
}

.block-table .more .chosen-single span {
    background: #5B5151;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: relative;
    content: '.';
    display: flex;
    cursor: pointer;
    margin: 0 1px;
}

.block-table td.more {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 14px 0;
}

.block-table td .chosen-container {
    margin: 0;
    min-height: auto;
    background: transparent;
    width: 100%;
}

.block-table .chosen-container::after {
    display: none;
}

.block-table .chosen-container .chosen-single {
    display: flex;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
}

.block-table .chosen-container.chosen-container-active {
    box-shadow: none;
}

.block-table .chosen-container.chosen-with-drop .chosen-drop {
    width: 175px;
    height: 114px;
    padding: 10px 16px;
    left: -300%;
}

.block-table .chosen-container .chosen-results li.active-result a {
    padding: 0;
    text-align: left;
    margin: 0;
}

.block-table .chosen-container .chosen-results li.active-result {
    padding: 12px 0;
    border-color: #EAECF0;
}

.block-table .chosen-container .chosen-results li:last-child {
    border-bottom: 1px solid #EAECF0;
}

.block-table .chosen-container .chosen-drop::before {
    content: '';
    width: 22px;
    height: 22px;
    background-color: white;
    position: absolute;
    top: -11px;
    right: 36px;
    transform: rotate(45deg);
    border-top: 1px solid rgba(91, 81, 81, 0.1);
    border-left: 1px solid rgba(91, 81, 81, 0.1);
}

.block-table.hide,
.btn_box.hide {
    display: none;
}

.orange_text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    position: relative;
}

.divider_row.orange_text::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #C4C4C4;
    z-index: 0;
}

.orange_text.margin {
    margin: 32px 0 0;
}

.orange_text span {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #E37D38;
    padding: 0 8px 0 0;
    position: relative;
    z-index: 1;
}

.divider_row.orange_text span {
    background-color: white;
}

.block-table .text_title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: #5B5151;
    margin: 16px 0;
}

.block-table .box {
    width: 100%;
    background: rgba(244, 244, 234, 0.3);
    border-radius: 6px;
    padding: 24px;
}

.block-table .row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.tab-two .box {
    margin: 0 0 0 24px;
    width: calc(100% - 24px);
}

@media all and (max-width:1440px) {
    .block-table .row {
        justify-content: space-between;
    }
}


.block-table .inputs_box {
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.block-table .inputsMargin_box {
    margin: 0 0 0 15px;
}

.block-table .delete,
.modal .delete,
.block-table .products_matching_delete {
    width: 24px;
    height: 40px;
    background-image: url(../images/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
    transition: all .3s;
    margin: auto 0 0px 0;
    min-width: 24px;
}

.line_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 0;
}

.line_box span {
    width: 20px;
    height: 2px;
    background: #5B5151;
    border-radius: 1px;
    margin: 1.5px 0;
}

.block-table .box label {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #5B5151;
    opacity: 0.7;
    margin: 0 0 8px;
    width: fit-content;
    font-family: 'Mulish', sans-serif;
}

.block-table input {
    width: 100%;
    max-width: 568px;
    height: 40px;
    border: 1px solid rgba(91, 81, 81, 0.4);
    border-radius: 6px;
    background-color: transparent;
    padding: 10px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #5B5151;
}

.block-table .full_widthInput {
    width: 462px;
}

.block-table .box .orange_text {
    width: auto;
}

.row_box {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tabs_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.choosen-block {
    background: #F4F4EA;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 3px;
    margin: 24px 0;
    width: fit-content;
}

.choosen-block a.choose-item,
.choosen-block a.choose-item2 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 125%;
    color: #5B5151;
    border-radius: 45px;
    padding: 1px 10px;
    text-decoration: none;
    cursor: pointer;
}

.choosen-block a.active {
    color: #FFFFFF;
    background: #E37D38;
}

.tabs-block {
    width: 100%;
}

.tabs-block .tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.tabs-block .tab.content-visible,
.tabs-block .tab.content-visible2 {
    display: flex;
}

.block-table .tab input {
    width: 320px;
}

.tabs-block .tab.hide {
    display: none;
}

@media all and (max-width:1440px) {
    .block-table .tab input {
        width: 260px;
    }
}

.block-table .tab .form__field-holder {
    max-width: 223px;
}

.dropdown-select.wide::after {
    font-family: 'icomoon', 'icomoonv2';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    right: 28px;
    margin: -1px 0 0;
    font-size: 6px;
    content: "\e90b";
    border: none;
    transition: all 0.125s ease-in-out;
}

.add_condition_box {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0 38px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%235B5151FF' stroke-width='1' stroke-dasharray='10' stroke-dashoffset='28' stroke-linecap='round'/%3e%3c/svg%3e");
    box-sizing: border-box;
}

.add_condition_box .dropdown-select.wide {
    border-color: #E37D38;
    color: #E37D38;
    width: 300px;
}

.add_condition_box .dropdown-select .list {
    min-width: 300px;
    border-color: #E37D38;
}

.add_condition_box .dropdown-select.wide .list {
    width: 400px;
    padding: 19px 10px;
}

.block-table .arrow_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: absolute;
    right: 16px;
    top: 0;
}

.minus,
.plus {
    width: 10px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3px 0;
    cursor: pointer;
}

.plus {
    background-image: url(../images/arrow_up.svg);
}

.minus {
    background-image: url(../images/arrow_down.svg);
}

.products_matching_box.orange_text .form__field-group {
    background-color: white;
    padding: 0 6px 0 0;
    position: relative;
    z-index: 1;
}

.products_matching_box .switch span {
    width: 38px;
    height: 19px;
    background: #EAECF0;
}

.products_matching_box .field-inset-attributes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 16px 0 0;
}

.block-toggle {
    width: 100%;
    margin: 8px 0 24px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

.block-toggle.active {
    display: flex;
}

.block-toggle .dropdown-select.wide,
.block-toggle input {
    width: 260px;
}

.products_matching_box .dropdown-select.wide {
    width: 220px;
}

.block-toggle .row {
    justify-content: flex-start;
}

.number {
    position: relative;
}

.block-table input.size {
    width: 227px;
}

.block-toggle .products_matching_box {
    margin: 24px 0 0;
}

.value_box .dropdown-select.wide {
    width: 400px;
}

@media all and (max-width:1024px) {
    .value_box .dropdown-select.wide {
        width: 350px;
    }
}

.block-table .tab .form__field-holder {
    max-width: inherit;
    display: flex;
    flex-direction: column;
}

.footer_box {
    width: 100%;
    justify-content: flex-end;
    margin: 29px 0 0;
}

.footer_box .btn-transparent {
    margin: 0 16px 0 0;
}

#recommendations_main .title {
    margin: 0 0 16px;
}

#newConditionBox {
    width: 100%;
    margin: 24px 0 0;
}

.block-table .box.cloningTriggerAtr.hide {
    display: none;
}

/*
#newConditionBox .box.cloningTriggerAtr {
    display: flex;
}
*/
.products_matching_box select {
    display: none !important;
}

.dropdown-select {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    outline: none;
    position: relative;
    text-align: left;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;

}

.dropdown-select:focus {
    background-color: #fff;
}

.dropdown-select:hover {
    background-color: #fff;
}

.dropdown-select:active,
.dropdown-select.open {
    background-color: #fff !important;
    border-color: #bbb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}

.dropdown-select:after {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777;
    -webkit-transform: origin(50% 20%);
    transform: origin(50% 20%);
    transition: all 0.125s ease-in-out;
    content: '';
    display: block;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
}


.dropdown-select.open .list,
.dropdown-select.wide .list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-select.open .option {
    cursor: pointer;
}

.dropdown-select.wide {
    border: 1px solid rgba(91, 81, 81, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #5B5151;
    box-shadow: none;
    padding: 0 16px;
    height: 40px;
    background: transparent;
}

.dropdown-select.open {
    border-radius: 6px 6px 0 0;
}

.current {
    height: 40px;
    display: flex;
    align-items: center;
}

.dropdown-select.wide .list {
    left: -1px !important;
    right: 0 !important;
}

.dropdown-select .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    background-color: #fff;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 250px;
    overflow: auto;
    border: 1px solid rgba(91, 81, 81, 0.4);
    border-top: none;
    box-sizing: border-box;
    padding: 19px 16px;
    width: 626px;
}

.dropdown-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.dropdown-select .dd-search {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.products_matching_box input[type="text"]#txtSearchValue {
    width: 100%;
    padding: 8px 20px 8px 46px;
    background-color: rgba(244, 244, 234, 0.3);
    border-radius: 6px;
    outline: none;
    border: none;
    background-image: url(../images/search_icon.svg);
    background-position: 16px 50%;
    background-repeat: no-repeat;
    background-size: 19px;
    margin: 0 auto 0 0;
}

.dropdown-select .dd-searchbox:focus {
    border-color: #12CBC4;
}

.dropdown-select .list ul {
    padding: 0;
}

.dropdown-select .option {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: rgba(91, 81, 81, 0.7);
    outline: none;
    padding: 8px;
    text-align: left;
    transition: all 0.2s;
    list-style: none;
    border-bottom: 1px solid rgba(91, 81, 81, 0.1);
    cursor: pointer;
}

.dropdown-select .option:hover {
    color: rgba(91, 81, 81, 1);
    border-color: #E37D38;
}

.dropdown-select a {
    color: rgba(91, 81, 81, 0.7);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.dropdown-select a:hover {
    color: #5B5151;
}

@media all and (max-width: 1400px) {
    .products_matching_box .inputs_box .form__clm {
        width: 23%;
    }

    .products_matching_box .inputs_box .dropdown-select.wide,
    .products_matching_box .inputs_box,
    #tabs-block2 .inputs_box,
    .products_matching_box input.size {
        width: 100%;
    }

    #tabs-block2 .form__clm {
        width: 23%;
    }

    #tabs-block2 .form__clm.value_box {
        width: 50%;
    }

    #tabs-block2 .dropdown-select.wide,
    #tabs-block2 input {
        width: 100%;
    }
}

@media all and (max-width: 1280px) {
    .content {
        padding: 0;
    }
}

@media all and (max-width: 1130px) {
    .block-dashboard__date {
        flex: 0 0 auto;
    }
}

#modalTestRule .modal__inner {
    height: 100%;
    margin: 0 0 0 auto;
    border-radius: 0;
}

.modal__header {
    background-color: transparent;
    padding: 40px 62px 38px;
}

.modal__header .btn_box {
    justify-content: flex-end;
}

.modal__header .btn-transparent {
    margin: 0 16px 0 0;
}

.modal__close i {
    color: #5B5151;
}

.modal h4 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 125%;
    text-align: center;
    color: #373131;
    margin: 0;
}

.modal__content .text_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 0 0 16px;
}

#modalTestRule .modal__close {
    left: -40px;
    right: 0;
    transform: translateY(-50%) rotate(90deg);
}

#modalTestRule .modal__content {
    padding: 0;
}

#modalTestRule .content {
    padding: 118px 0px 0px 60px;
}


.modal.modal-visible {
    background-color: rgba(55, 49, 49, 0.8);
}

#modalTestRule .modal__inner {
    top: 0;
    right: 0;
    width: 70%;
    max-width: inherit;
    transform: translate(0);
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 1000px;
}

.modal__content .row_box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 62px 0 0;
    margin: 24px 0 0;
}

.modal__content .row_box:last-of-type {
    margin: 24px 0;
}

.modal__content .full-width {
    width: 100%;
    padding: 0 62px 0 0;
}

.modal__content .row_box .form__field-holder {
    width: 48%;
}

.modal__content input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(91, 81, 81, 0.4);
    border-radius: 6px;
    background-color: transparent;
    padding: 10px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #5B5151;
}

.modal__content label {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #5B5151;
    opacity: 0.7;
    margin: 0 0 8px;
}

.modal__content .title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #5B5151;
    margin: 24px 0 0;
}

.modal__content .add_parameter,
.modal__content .run {
    margin: 0;
    width: 165px;
    padding: 0;
}

.modal__content .add_parameter {
    margin: 24px 0 40px;
}

.recomendation_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 40px 0 0;
}

.recomendation_box.hide {
    display: none;
}

.test_result {
    display: flex;
    background: rgba(244, 244, 234, 0.3);
    padding: 17px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 680px);
    margin: 14px 0 0;
}

.test_result.hide {
    display: none;
}

.test_result .title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #E37D38;
    margin: 0;
}

.loader-animation {
    display: block;
    color: #5B5151;
    font-size: 6px;
    margin: 0 0 20px;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    border: none;
}

.loader-block p.loader-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: #373131;
    margin: 17px 0 0;
}

.loader-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0 0;
}

@-webkit-keyframes load4 {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes load4 {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

.recomendation_box .rec_title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #373131;
    margin: 16px 0 32px;
}

.display_related_links_show p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #5B5151;
    margin: 24px 0 17px;
}

.display_related_links_show .form__field-group.inline {
    display: flex;
    flex-direction: column;
}

.display_related_links_show .field-radio input[type="radio"]:checked + label::before {
    box-shadow: none;
    background-color: white;
    border: 1px solid #E37D38;
    width: 16px;
    height: 16px;
    opacity: 1;
}

.display_related_links_show.field-radio input[type="radio"]:checked + label::after {
    box-shadow: none;
    background-color: #E37D38;
    width: 8px;
    height: 8px;
    margin: 4px;

}

.display_related_links_show .field-radio label::after {
    margin: 4px;
    box-shadow: none;
    background-color: transparent;
    width: 8px;
    height: 8px;
}

.display_related_links_show .field-radio label::before {
    box-shadow: none;
    background-color: white;
    border: 1px solid #EAECF0;
    opacity: 1;
    width: 16px;
    height: 16px;
}

.display_related_links_show .field-radio label {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    color: #5B5151;
    padding: 0 0 0 20px;
    font-family: 'Mulish', sans-serif;
    text-transform: lowercase;
    opacity: 1;
    margin: 0;
    letter-spacing: inherit;
}
.display_related_links_show .field-radio
{
    margin: 0 0 16px;
}
.display_related_links_show .field-radio input[type="radio"]:checked + label::after {
    box-shadow: none;
    background-color: #E37D38;
    width: 8px;
    height: 8px;
    margin: 4px;
}
.display_related_links_show .param
{
    width: 93px;
    margin: 0 0 0 8px;
}















.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    display: block;
    max-width: 100%;
    height: auto
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}

.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
}

.modal-content {
    position: relative;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}


.modal-body {
    position: relative;
}

.slider_box {
    width: 106%;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
    border: none;
}

.splide__arrows {
    position: absolute;
    bottom: -43px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__arrow {
    position: relative;
    width: 62px;
    height: 30px;
    background-size: auto;
    transform: rotate(0deg);
    left: 0;
    right: 0;
    margin: 0 16px;
}

.splide__arrow--prev {
    background-position: 0% 50%;
    background-image: url(../images/prev_icon.svg);
}

.splide__arrow--prev::after {
    content: 'Prev';
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 125%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #5B5151;
    padding: 1px 0 0;
}

.splide__arrow--next {
    background-position: 100% 50%;
    background-image: url(../images/next_arrow.svg);
}

.splide__arrow--next::before {
    content: 'Next';
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 125%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #5B5151;
    padding: 1px 0 0;
}

.splide__slide img {
    width: 229px;
    height: 229px;
    max-width: 100%;
}

.splide__slide .item {
    position: relative;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
    border: 1px solid #F4F4EA;
    border-radius: 4px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 229px;
}

.price_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 12px 18px;
}

.price_box .price {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #373131;
    margin: 10px 0 0;
}

.price_box .old_price {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    text-decoration-line: line-through;
    color: #373131;
    opacity: 0.65;
    margin: 10px 0 0 10px;
}

.item .item_name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #373131;
    margin: 8px 0 0;
    max-width: 229px;
    padding: 0 12px;
}

.card.dragging {
    opacity: 0.5;
}

[draggable] {
    user-select: none;
}

.modal .text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5B5151;
    text-align: center;
    margin: 0 0 32px;
}

#modalRecommendationScript .modal__content {
    padding: 0px 48px 56px;
}

#modalRecommendationScript .dropdown-select.wide {
    background: #F3F6FA;
    border-radius: 7px;
    width: 303px;
    border: none;
    line-height: 20px;
    color: #31353E;
    padding: 0px 16px;
}

#modalRecommendationScript .dropdown-select.wide::after {
    color: #A0A7BF;
}

#modalRecommendationScript .current {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #31353E;
}

#modalRecommendationScript .dropdown-select:active,
#modalRecommendationScript .dropdown-select.open,
#modalRecommendationScript .dropdown-select.active {
    background: #F3F6FA !important;
}

#modalRecommendationScript .dropdown-select .list {
    background: #F3F6FA;
    border: none;
}

.copy_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background: rgba(234, 236, 240, 0.23);
    border: 1px solid rgba(234, 236, 240, 0.23);
    border-radius: 16px;
    padding: 16px 16px 24px;
    margin: 24px 0 0;
}

.copy_box .copy_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #5B5151;
    margin: 0 0 24px;
}


@media all and (max-width: 1710px) {
    .block-table__header:not(.nowrap) .block-table__search-filter {
        margin-right: 0;
        width: 100%;
    }
}


@media all and (max-width:1400px) {
    .sidebar {
        width: 18.1%;
    }
}

@media all and (max-width: 1280px) {
    .sidebar {
        width: 0;
    }
}

@media all and (max-width: 1000px) {
    #modaSorting .modal__inner {

        max-width: 98%;
    }

    #modalTestRule .modal__inner {
        min-width: 100%;
        width: 100%;
    }
}
