.chosen-select-badge + .chosen-container-single-nosearch {
    min-width: 100px;
}

.form-badge {
    display: inline-block;
}

.form-delete-version {
    display: inline;
    margin-left: 24px;
}
