.so-tooltip-content {
  color: #828386;
  @include popupDropDown();
  margin: 0;
  display: none;

  &[data-popper-placement^='top'] > [data-popper-arrow] {
    bottom: -4px;
  }

  &[data-popper-placement^='bottom'] > [data-popper-arrow] {
    top: -4px;
  }

  &[data-popper-placement^='left'] > [data-popper-arrow] {
    right: 9px;
  }

  &[data-popper-placement^='right'] > [data-popper-arrow] {
    left: -9px;
  }

  &[data-show] {
    display: block;
  }

  [data-popper-arrow] {
    position: relative;

    &:before {
      content: '';
      content: "";
      transform: rotate(45deg);
      background: rgb(255, 255, 255);
      top: -9px;
      left: 0;
      width: 18px;
      height: 18px;
      position: absolute;
      z-index: -1;
    }
  }
}