.block-theme {
  &__item {
    background: $color-white;
    border-radius: 6px;

    &.add {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      padding: 30px 0;
      border: 2px solid $color-gray-dark;
      min-height: 471px;

      @media screen and (max-width: 1160px) {
        min-height: 160px;
      }

      a {
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        color: $color-gray-dark;
        text-decoration: none;

        span {
          position: relative;
          display: inline-block;
          padding: 0 0 72px;
          vertical-align: top;

          &:after {
            @include iconsFont;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            border: 1px solid $color-gray-dark;
            border-radius: 8px;
            width: 48px;
            height: 48px;
            font-size: 14px;
            line-height: 46px;
            text-align: center;
            content: "\e909";
          }
        }

        &:hover {
          color: $color-green;

          span {
            &:after {
              border-color: $color-green;
              color: $color-green;
            }
          }
        }
      }
    }
  }

  &__picture {
    border-radius: 6px 6px 0 0;
  }

  &__panel {
    border-top: 1px solid #ecf3fa;

    h2 {
      overflow: hidden;
      color: $color-green;
      font-size: 14px;
      line-height: 18px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .drop-more-actions.popup-content {
    @include popupDropDown;
    left: auto;
    right: 0;
    padding: 15px 8px;
    width: 190px;

    a {
      display: block;
      padding: 13px 8px;
      border-bottom: 1px solid $bd-color;
      color: $color-title;
      text-decoration: none;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .more-actions {
    overflow: hidden;
    display: inline-block;
    margin: 0 0 0 24px;
    width: 34px;
    height: 34px;
    color: #d0d3d6;
    text-align: center;
    vertical-align: middle;

    i {
      font-size: 30px;
      line-height: 32px;

      &:before {
        display: inline-block;
        transform: rotate(90deg) translateX(-4px);
        vertical-align: middle;
      }
    }
  }
}
