.block-code {
  &__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 24px;

    & > div {
      &:last-child {
        .btn {
          margin: 0 0 0 32px;
        }
      }
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding: 36px 0 0;
    min-height: calc(100vh - 267px);
  }

  &__aside {
    flex: 1 0 215px;
    width: 215px;
    max-width: 215px;
  }

  &__aside-name {
    display: block;
    padding: 15px;
    min-height: 65px;
  }

  &__project {
    padding: 15px;
  }

  &__content {
    flex: 1 0 calc(100% - 215px);
    width: calc(100% - 215px);
    max-width: calc(100% - 215px);
  }

  &__panel-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    .btn {
      margin: 0 0 0 15px;
      vertical-align: top;
    }
  }
}
