<div class="block-profile">
    <div class="block-profile__user">
        <div class="user">
            <div class="avatar">
                <div>HP</div>
            </div>
            <div class="info">
                <p class="name">Harry Potter</p>
                <p>aba@verbolia.com</p>
            </div>
        </div>
        <button class="btn btn-default-light">Update profile</button>
    </div>
    <h2>Profile</h2>
    <div class="block-profile__form form__column-small">
        <div class="form__field-inline">
            <label for="email">Email</label>
            <div class="form__field-holder">
                <input id="email" type="text" placeholder="Your email">
            </div>
        </div>
        <div class="form__field-inline">
            <label for="first-name">First Name</label>
            <div class="form__field-holder">
                <input id="first-name" type="text" placeholder="Your first name">
            </div>
        </div>
        <div class="form__field-inline">
            <label for="last-name">Last Name</label>
            <div class="form__field-holder">
                <input id="last-name" type="text" placeholder="Your last name">
            </div>
        </div>
        <div class="form__field-inline">
            <label for="password-user">Password</label>
            <div class="form__field-holder">
                <input id="password-user" type="password" placeholder="Password">
            </div>
        </div>
    </div>
    <button class="btn btn-default-light modal-open" data-modal="modalModifyPassword">Reset password</button>
</div>
