<section class="block-editor">
    <div class="block-editor__row block-editor__head">
        <div class="form__field-inline form__field-edit">
            <div class="form__field-holder">
                <input  type="text" value="Hogwarts castle lego" disabled="disabled">
            </div>
            <div class="form__action">
                <button class="btn btn-green validate">Validate</button>
                <button class="btn btn-default-light cancel">Cancel</button>
            </div>
            <button class="btn-icon edit"><i class="icon-edit-small"></i></button>
        </div>
    </div>
    <div class="block-editor__row block-editor__row-inline">
        <p class="block-editor__area"><strong>URL</strong> <a href="www.yourwebsite.com/v/hogwarts-castle-lego">www.yourwebsite.com/v/hogwarts-castle-lego</a></p>
        <p class="block-editor__area"><strong>AMS</strong> 100</p>
        <p class="block-editor__area"><strong>#product</strong> 15</p>
    </div>
    <div class="block-editor__row block-editor__row-inline last">
        <p class="block-editor__area"><strong>Indexed</strong> <span class="indexed green"></span></p>
        <p class="block-editor__area"><strong>#SEO visits last 30d</strong> 15</p>
        <p class="block-editor__area"><strong>#SEA visits last 30d”</strong> 15</p>
        <p class="block-editor__area"><strong>Last crawl by Google bot</strong> 15.03.20</p>
    </div>
    <div class="block-editor__row block-editor__row-collapse">
        <div class="head">
            <p>H1</p>
            <p>
                <button class="btn-icon popup-open"><i class="icon-arrow-drop"></i></button>
            </p>
        </div>
        <div class="block-editor__holder popup-content">
            <div class="holder">
                <p><span class="badge badge-small yellow">Value by default <i class="icon-checked"></i></span></p>
                <div class="form__field-inline form__field-edit">
                    <div class="form__field-holder">
                        <input  type="text" value="[KEYWORD] a partir de 15€" disabled="disabled">
                        <button class="btn-icon edit"><i class="icon-edit-small"></i></button>
                    </div>
                    <div class="form__action">
                        <button class="btn btn-green validate">Validate</button>
                        <button class="btn btn-default-light cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-editor__row block-editor__row-collapse">
        <div class="head">
            <p>Meta description</p>
            <p>
                <button class="btn btn-gray btn-small">Back to default template</button>
                <button class="btn-icon popup-open"><i class="icon-arrow-drop"></i></button>
            </p>
        </div>
        <div class="block-editor__holder popup-content">
            <div class="holder">
                <p><span class="badge badge-small green">Value custom <i class="icon-checked"></i></span></p>
                <div class="form__field-inline form__field-edit">
                    <div class="form__field-holder">
                        <input  type="text" value="[KEYWORD] a partir de 15€" disabled="disabled">
                        <button class="btn-icon edit"><i class="icon-edit-small"></i></button>
                    </div>
                    <div class="form__action">
                        <button class="btn btn-green validate">Validate</button>
                        <button class="btn btn-default-light cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-editor__row block-editor__row-collapse">
        <div class="head">
            <p>Meta title</p>
            <p>
                <button class="btn-icon popup-open"><i class="icon-arrow-drop"></i></button>
            </p>
        </div>
        <div class="block-editor__holder popup-content">
            <div class="holder">
                <p><span class="badge badge-small green">Editing <i class="icon-checked"></i></span></p>
                <div class="form__field-inline form__field-edit">
                    <div class="form__field-holder">
                        <input  type="text" value="[KEYWORD] a partir de 15€" disabled="disabled">
                        <button class="btn-icon edit"><i class="icon-edit-small"></i></button>
                    </div>
                    <div class="form__action">
                        <button class="btn btn-green validate">Validate</button>
                        <button class="btn btn-default-light cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-editor__row block-editor__content">
        <div class="head">
            <p>Cold content</p>
        </div>
        <div class="block-editor__holder">
            <div class="holder">
                <form class="add-content block-slide-popup">
                    <div class="no-content">
                        <p>No content</p>
                        <button class="btn btn-green btn-small popup-open">Add content</button>
                    </div>
                    <div class="popup-content">
                        <div class="form__field-holder">
                            <textarea></textarea>
                        </div>
                        <div class="form__action">
                            <button class="btn btn-green validate popup-close">Ok</button>
                            <button class="btn btn-default-light cancel popup-close">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="block-editor__row block-editor__row-collapse">
        <div class="head">
            <p>Redirection</p>
            <p>
                <button class="btn-icon popup-open"><i class="icon-arrow-drop"></i></button>
            </p>
        </div>
        <div class="block-editor__holder popup-content">
            <div class="holder justify-content-between">
                <div class="form__field-holder">
                    <div class="form__field-group inline">
                        <div class="field-radio">
                            <input type="radio" id="redirection-01" name="redirection" checked="checked">
                            <label for="redirection-01">
                                Custom URL
                                <a class="custom-link" href="www.yourwebsite.com/v/hogwarts-castle-lego">www.yourwebsite.com/v/hogwarts-castle-lego</a>
                            </label>
                        </div>
                        <div class="field-radio">
                            <input type="radio" id="redirection-02" name="redirection">
                            <label for="redirection-02">Most similar keyword</label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-default-light">Remove redirection</button>
            </div>
        </div>
    </div>
    <footer class="block-editor__footer">
        <button class="btn btn-green validate">Validate</button>
        <button class="btn btn-default-light cancel">Cancel</button>
    </footer>
</section>
