<div class="header__panel-top">
    <a href="" class="logo"><img src="images/logo.png" alt="Aurore"></a>
    <div class="header__holder">
        <div class="notification-block">
            <span class="popup-open">
                <span class="notification-block__icon">
                    <i class="icon-bell"></i>
                    <span class="count">1</span>
                </span>
            </span>
            <div class="popup-content">
                <div class="notification-block__head">
                    <span class="title">Notifications</span>
                    <span class="count">1</span>
                </div>
                <ul>
                    <li>
                        <p><strong>Duplicate content</strong> - We have detected keywords with a high level of duplication</p>
                        <p class="panel">
                            <span>Today at 15:13</span>
                            <a href="#">Mark as unread</a>
                        </p>
                    </li>
                    <li>
                        <p><strong>Keyword opportunities</strong> - New keywords opportunities have been found</p>
                        <p class="panel">
                            <span>Today at 15:13</span>
                            <a href="#">Mark as unread</a>
                        </p>
                    </li>
                    <li>
                        <p><strong>Duplicate content</strong> - We have detected keywords with a high level of duplication</p>
                        <p class="panel">
                            <span>Today at 15:13</span>
                            <a href="#">Mark as read</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="user-block">
            <span class="popup-open">
                <span class="user-block__image">
                    <img src="images/user-image.jpg" alt="user name">
                </span>
                <span class="user-block__name">Harry Potter</span>
            </span>
            <div class="popup-content">
                <ul>
                    <li><a href="user-account.html">My account</a></li>
                    <li><a href="#">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <button class="btn-toggle-sidebar"><i class="icon-menu"></i></button>
</div>
