<div id="modalAddWebsite" class="modal">
    <div class="modal__inner">
        <div class="modal__header">
            <h4>Add a website</h4>
            <button class="btn-icon modal__close modal-close"><i class="icon-close"></i></button>
        </div>
        <div class="modal__content">
            <form class="form">
                <div class="form__field full-width">
                    <label for="website-name">Website name</label>
                    <div class="form__field-holder full-width">
                        <input id="website-name" type="text" placeholder="Website name">
                    </div>
                </div>
                <div class="form__field">
                    <label for="website">Website</label>
                    <div class="form__field-holder full-width">
                        <input id="website" type="url" placeholder="Website">
                    </div>
                </div>
                <div class="form__action">
                    <button class="btn btn-green modal-close">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
