<div id="modalSeedKeywordList" class="modal">
    <div class="modal__inner">
        <div class="modal__header">
            <h4>Seed keyword list</h4>
            <button class="btn-icon modal__close modal-close"><i class="icon-close"></i></button>
        </div>
        <div class="modal__content">
            <form class="form">
                <div class="field-upload-file">
                    <p>Drop file to upload or</p>
                    <div class="btn-file">
                        <input type="file">
                        <button class="btn btn-green-light">Select filese</button>
                    </div>
                    <p class="file"></p>
                </div>
                <div class="action">
                    <button class="btn btn-green modal-close">Upload file</button>
                </div>
            </form>
        </div>
    </div>
</div>
