<div id="modalCreateTheme" class="modal">
    <div class="modal__inner">
        <div class="modal__header">
            <h4>Create your theme</h4>
            <button class="btn-icon modal__close modal-close"><i class="icon-close"></i></button>
        </div>
        <div class="modal__content">
            <form class="form">
                <div class="form__field full-width">
                    <label for="theme-name">Theme name</label>
                    <div class="form__field-holder full-width">
                        <input id="theme-name" type="text" placeholder="Theme name">
                    </div>
                </div>
                <div class="form__action">
                    <button class="btn btn-green modal-close">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
