<div id="modalUnsavedChanges" class="modal">
    <div class="modal__inner">
        <div class="modal__content">
            <h4>Unsaved changes</h4>
            <p>You have unsaved work that will be lost if you navigate to another page</p>
            <form class="form">
                <div class="form__action">
                    <button class="btn btn-default-light modal-close">Cancel</button>
                    <button class="btn btn-default-light modal-close">Save</button>
                    <button class="btn btn-red modal-close">Leave</button>
                </div>
            </form>
        </div>
    </div>
</div>
