<div id="modalBlacklist" class="modal blacklist">
    <div class="modal__inner">
        <div class="modal__header">
            <h4>Product blacklist</h4>
            <button class="btn-icon modal__close modal-close"><i class="icon-close"></i></button>
        </div>
        <div class="modal__content">
            <table>
                <tr>
                    <th>Picture</th>
                    <th>Product title</th>
                    <th>Show</th>
                </tr>
                <tr>
                    <td>
                        <img src="images/img-01.png" alt="">
                    </td>
                    <td>Noukie’s Pyjama Velours Gaby & Sam Beige</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="images/img-01.png" alt="">
                    </td>
                    <td>Noukie’s Pyjama Velours Gaby & Sam Beige</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked="checked">
                            <span></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="images/img-01.png" alt="">
                    </td>
                    <td>Noukie’s Pyjama Velours Gaby & Sam Beige</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="images/img-01.png" alt="">
                    </td>
                    <td>Noukie’s Pyjama Velours Gaby & Sam Beige</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
