<div id="modalUploadTheme" class="modal">
    <div class="modal__inner">
        <div class="modal__content">
            <h4>Upload a theme</h4>
            <p>Select a file in a .zip format to install a new theme</p>
            <form class="form">
                <div class="form__field-group inline">
                    <div class="field-radio">
                        <input id="public-theme" type="radio" checked="checked" name="themes">
                        <label for="public-theme">Public theme</label>
                    </div>
                    <div class="field-radio">
                        <input id="private-theme" type="radio" name="themes">
                        <label for="private-theme">Private theme</label>
                    </div>
                </div>
                <div class="field-buttons">
                    <button class="btn btn-green-light modal-close">Chose your file</button>
                    <button class="btn btn-green modal-close">Upload a theme</button>
                </div>
            </form>
        </div>
    </div>
</div>
