<div id="modalModifyPassword" class="modal">
    <div class="modal__inner">
        <div class="modal__header">
            <h4>Modify password</h4>
            <button class="btn-icon modal__close modal-close"><i class="icon-close"></i></button>
        </div>
        <div class="modal__content">
            <form class="form">
                <div class="form__field">
                    <label for="password">Enter your password</label>
                    <div class="form__field-holder full-width">
                        <input id="password" type="password" placeholder="Your password">
                    </div>
                </div>
                <div class="form__field">
                    <label for="new-password">Choose a new password</label>
                    <div class="form__field-holder full-width form__field-show-password">
                        <input id="new-password" class="password" type="password" placeholder="Your password">
                        <button class="btn-icon show-password"><i class="icon-eye"></i></button>
                    </div>
                </div>
                <div class="form__field">
                    <label for="confirm-password">Confirm your password</label>
                    <div class="form__field-holder full-width form__field-show-password">
                        <input id="confirm-password" class="password" type="password" placeholder="Your password">
                        <button class="btn-icon show-password"><i class="icon-eye"></i></button>
                    </div>
                </div>
                <div class="form__action">
                    <button class="btn btn-default-light modal-close">Cancel</button>
                    <button class="btn btn-green modal-close">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
