<div id="modalEditValues" class="modal">
    <div class="modal__inner">
        <div class="modal__header">
            <h4>Edit values</h4>
            <button class="btn-icon modal__close modal-close"><i class="icon-close"></i></button>
        </div>
        <div class="modal__content">
            <table>
                <thead>
                <tr>
                    <th>Brand values</th>
                    <th>Custom name</th>
                    <th>Frequency</th>
                    <th>Hide</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="form__field-inline small">
                            <div class="form__field-holder">
                                <input type="text" value="L’oreal" disabled="disabled">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form__field-inline form__field-edit small">
                            <div class="form__field-holder">
                                <input type="text" value="Dior" disabled="disabled">
                            </div>
                            <button class="btn-icon edit"><i class="icon-edit-small"></i></button>
                        </div>
                    </td>
                    <td>150</td>
                    <td>
                        <div class="field-checkbox checked-single">
                            <input type="checkbox" id="check-modal-01" name="check">
                            <label for="check-modal-01"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form__field-inline small">
                            <div class="form__field-holder">
                                <input type="text" value="Dior" disabled="disabled">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form__field-inline form__field-edit small">
                            <div class="form__field-holder">
                                <input type="text" value="L’oreal" disabled="disabled">
                            </div>
                            <button class="btn-icon edit"><i class="icon-edit-small"></i></button>
                        </div>
                    </td>
                    <td>150</td>
                    <td>
                        <div class="field-checkbox checked-single">
                            <input type="checkbox" id="check-modal-02" name="check">
                            <label for="check-modal-02"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form__field-inline small">
                            <div class="form__field-holder">
                                <input type="text" value="L’oreal" disabled="disabled">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form__field-inline form__field-edit small">
                            <div class="form__field-holder">
                                <input type="text" value="Dior" disabled="disabled">
                            </div>
                            <button class="btn-icon edit"><i class="icon-edit-small"></i></button>
                        </div>
                        <button class="btn-icon btn-icon-small refresh"><i class="icon-refresh"></i></button>
                    </td>
                    <td>150</td>
                    <td>
                        <div class="field-checkbox checked-single">
                            <input type="checkbox" id="check-modal-03" name="check">
                            <label for="check-modal-03"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form__field-inline small">
                            <div class="form__field-holder">
                                <input type="text" value="Dior" disabled="disabled">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form__field-inline form__field-edit small">
                            <div class="form__field-holder">
                                <input type="text" value="L’oreal" disabled="disabled">
                            </div>
                            <button class="btn-icon edit"><i class="icon-edit-small"></i></button>
                        </div>
                    </td>
                    <td>150</td>
                    <td>
                        <div class="field-checkbox checked-single">
                            <input type="checkbox" id="check-modal-04" name="check">
                            <label for="check-modal-04"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form__field-inline small">
                            <div class="form__field-holder">
                                <input type="text" value="L’oreal" disabled="disabled">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form__field-inline form__field-edit small">
                            <div class="form__field-holder">
                                <input type="text" value="Dior" disabled="disabled">
                            </div>
                            <button class="btn-icon edit"><i class="icon-edit-small"></i></button>
                        </div>
                    </td>
                    <td>150</td>
                    <td>
                        <div class="field-checkbox checked-single">
                            <input type="checkbox" id="check-modal-06" name="check">
                            <label for="check-modal-06"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form__field-inline small">
                            <div class="form__field-holder">
                                <input type="text" value="Dior" disabled="disabled">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form__field-inline form__field-edit small">
                            <div class="form__field-holder">
                                <input type="text" value="L’oreal" disabled="disabled">
                            </div>
                            <button class="btn-icon edit"><i class="icon-edit-small"></i></button>
                        </div>
                    </td>
                    <td>150</td>
                    <td>
                        <div class="field-checkbox checked-single">
                            <input type="checkbox" id="check-modal-05" name="check">
                            <label for="check-modal-05"></label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
