<div id="modalAuthorizeAccess" class="modal modal-documentation">
    <div class="modal__inner">
        <div class="modal__content">
            <button class="btn-icon modal__close modal-close"><i class="icon-close"></i></button>
            <p class="text-info">The following mandatory field is not fille in : GA view</p>
            <form class="form">
                <h4>Authorize access</h4>
                <div class="form__column">
                    <div class="form__field-inline">
                        <label for="ga-account" class="required">GA account</label>
                        <div class="form__field-holder">
                            <select id="ga-account" data-placeholder="Select GA account" class="chosen-select-nosearch">
                                <option></option>
                                <option>Select GA account</option>
                                <option>Select GA account</option>
                            </select>
                        </div>
                    </div>
                    <div class="form__field-inline">
                        <label for="ga-property" class="required">GA property</label>
                        <div class="form__field-holder">
                            <select id="ga-property" data-placeholder="GA property" class="chosen-select-nosearch">
                                <option></option>
                                <option>Select GA property</option>
                                <option>Select GA property</option>
                            </select>
                        </div>
                    </div>
                    <div class="form__field-inline">
                        <label for="ga-view" class="required">GA view</label>
                        <div class="form__field-holder">
                            <select id="ga-view" data-placeholder="Select GA view" class="chosen-select-nosearch">
                                <option></option>
                                <option>Select GA view</option>
                                <option>Select GA view</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="action">
                    <button class="btn btn-green modal-close right">Validate</button>
                </div>
            </form>
        </div>
    </div>
</div>
