<div class="sidebar">
    <div class="form__field-holder">
        <select data-placeholder="Select web site" class="chosen-select select-dark">
            <option></option>
            <option>Kazidomi</option>
            <option>Waio</option>
        </select>
    </div>
    <nav class="navigation">
        <ul>
            <li class="item">
                <a href="dashboard.html" class="item-link"><i class="icon-overview"></i> Dashboard</a>
            </li>
            <li class="item">
                <a href="configuration.html" class="item-link"><i class="icon-configuration"></i> Configuration</a>
            </li>
            <li class="item">
                <a href="theme.html" class="item-link"><i class="icon-theme"></i> Theme</a>
            </li>
            <li class="item">
                <a href="ressources.html" class="item-link"><i class="icon-keyword"></i> Ressources</a>
            </li>
            <li class="item">
                <a href="feed-import-main.html"><i class="icon-feed-import"></i> Feed import</a>
            </li>
            <li class="item">
                <a href="#" class="item-link collapsible collapsible-active"><i class="icon-keyword"></i>
                    Pages management</a>
                <ul class="collapsible-content">
                    <li class="item">
                        <a href="keyword-edition.html" class="item-link active">Tag Management </a>
                    </li>
                    <li class="item">
                        <a href="keyword-management.html" class="item-link">Keyword Management</a>
                    </li>
                </ul>
            </li>
            <li class="item">
                <a href="keyword-suggestions.html" class="item-link">
                    <i class="icon-keyword-suggestions"></i> Keyword suggestions
                    <i class="icon-notification tooltip-sidebar tooltip-bottom" data-tooltip="You have new keyword suggestions"></i>
                </a>
            </li>
            <li class="item">
                <a href="#" class="item-link"><i class="icon-features-management"></i> Features Management</a>
            </li>
            <li class="item">
                <a href="users.html" class="item-link"><i class="icon-user"></i> Users</a>
            </li>
            <li class="item">
                <a href="website.html" class="item-link"><i class="icon-website"></i> Website</a>
            </li>
            <li class="item">
                <a href="distribution.html" class="item-link"><i class="icon-distribution"></i>Distribution page</a>
            </li>
            <li class="item">
                <a href="documentation.html" class="item-link"><i class="icon-content-mamagement"></i>Documentation</a>
            </li>
            <li class="item">
                <a href="product-list.html" class="item-link"><i class="icon-product-list"></i>Product list </a>
            </li>
        </ul>
    </nav>
</div>
